/*main text color #212121 */
/*second text color #757575 */
/*accent color #2196F3*/
/*main background #ffffff*/
/*second background #F5F4FA*/
/*footer background #2F303A*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*page index*/
.page {
  color: #757575;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/*conteiner*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*header page*/
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

/*logo*/
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-item {
  color: #2196f3;
}

/*header nav*/
.header-nav {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.header-nav:hover,
.header-nav:focus {
  color: #2196f3;
}

/*header nav conacts*/
.nav-contacts {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.nav-contacts:hover,
.nav-contacts:focus {
  color: #2196f3;
}

/*page section with button*/
.section-button {
  margin-bottom: 94px;

  background-color: #2f303a;
  text-align: center;
}

.section-button-title {
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.page-button {
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0px solid transparent;

  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.84;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.page-button:focus,
.page-button:hover {
  background-color: #188ce8;
}

.page-button:active {
  color: #212121;
  background-color: #f5f4fa;
}

/*section feature*/
.feature {
  margin-bottom: 94px;

  background-color: #ffffff;
}
.feature-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

/*work and team*/
.works {
  margin-bottom: 94px;

  background-color: #ffffff;
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*our team*/
.team {
  padding-bottom: 94px;
  padding-top: 94px;

  background-color: #f5f4fa;
}

.team-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-names {
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.color-group {
  background-color: #ffffff;
}

/*page footer*/
.footer {
  background-color: #2f303a;
}

.logo-footer {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.address {
  color: #ffffff;
  font-style: normal;
}

/*page portfolio*/
.page-portfolio {
  color: #212121;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/*button filtres*/
.filtres-button {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  cursor: pointer;
}

.filtres-button:focus,
.filtres-button:hover {
  color: #ffffff;
  background-color: #2196f3;
}

/*project*/
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/*text formatting*/
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
