/*main text color #212121 */
/*second text color #757575 */
/*accent color #2196F3*/
/*main background #ffffff*/
/*second background #F5F4FA*/
/*footer background #2F303A*/

:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --accent-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-text: #000000;
  --accent-button-color: #188ce8;
  --main-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --accent-background-color: #2f303a;
}

/*page index*/
.page {
  color: var(--second-text-color);
  font-family: Roboto, sans-serif;
  background-color: var(--main-background-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/*conteiner*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*header page*/
.page-header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid #ececec;
}

.header-nav {
  padding-top: 32px;
  padding-bottom: 33px;
}

/*logo*/
.logo {
  color: var(--logo-text);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-item {
  color: var(--accent-color);
}

/*header nav*/
.nav-item {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.nav-item:hover,
.nav-item:focus {
  color: var(--accent-color);
}

/*header nav conacts*/
.nav-contacts {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--accent-color);
}

/*page section with button*/
.section-button {
  background-color: var(--accent-background-color);
  text-align: center;
}

.section-button-title {
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  margin-bottom: 30px;

  color: var(--accent-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.page-button {
  margin-bottom: 200px;

  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0px solid transparent;

  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.84;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.page-button:focus,
.page-button:hover {
  background-color: var(--accent-button-color);
}

.page-button:active {
  color: var(--main-text-color);
  background-color: var(--second-background-color);
}

/*section feature*/
.feature-bg {
  background-color: var(--main-background-color);
}

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

/*work and team*/
.works-bg {
  background-color: var(--main-background-color);
}

.works {
  padding-bottom: 94px;
}

.works-title {
  margin-bottom: 50px;

  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*our team*/
.team-bg {
  background-color: var(--second-background-color);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-photo {
  margin-bottom: 30px;
}

.team-title {
  margin-bottom: 50px;

  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-names {
  margin-top: 10px;

  color: var(--main-text-color);
  font-weight: 500;
  letter-spacing: 0.03em;
}

.team-text {
  padding-bottom: 30px;
}

.color-group {
  background-color: var(--main-background-color);
}

/*page footer*/
.footer-bg {
  background-color: var(--accent-background-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer > h2 {
  margin-bottom: 20px;
}

.logo-footer {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.address {
  color: var(--accent-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

/*page portfolio*/
.page-portfolio {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  line-height: 1.14;
  letter-spacing: 0.03em;

  background-color: #ffffff;
}

/*button filtres*/
.filtres-button {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--second-background-color);
  cursor: pointer;
}

.filtres-button:focus,
.filtres-button:hover {
  color: var(--accent-text-color);
  background-color: var(--accent-button-color);
}

/*project*/
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects-text {
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/*text formatting*/
.list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
